* {
    margin: 0;
    padding: 0;
}

.__progress_bar {
    width: 500px;
    height: 50px;
    border: 2px solid black;
    position: relative;
}

.__inner_progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
}

.margin {
    margin: 50px;
}